<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>E-detailer.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2CBEB3C705921BBA4B381811F9FF58830533F898</string>
				<key>dateExpires</key>
				<string>12/12/2024</string>
				<key>type</key>
				<string>Cloud Managed iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2CBEB3C705921BBA4B381811F9FF58830533F898</string>
						<key>dateExpires</key>
						<string>12/12/2024</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XMM2KDTT64</string>
						<key>name</key>
						<string>SMART DIGITRENDS FZC</string>
					</dict>
					<key>versionNumber</key>
					<string>3.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2CBEB3C705921BBA4B381811F9FF58830533F898</string>
						<key>dateExpires</key>
						<string>12/12/2024</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ActionSheetPicker_3_0.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XMM2KDTT64</string>
						<key>name</key>
						<string>SMART DIGITRENDS FZC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2CBEB3C705921BBA4B381811F9FF58830533F898</string>
						<key>dateExpires</key>
						<string>12/12/2024</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XMM2KDTT64</string>
						<key>name</key>
						<string>SMART DIGITRENDS FZC</string>
					</dict>
					<key>versionNumber</key>
					<string>4.8.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2CBEB3C705921BBA4B381811F9FF58830533F898</string>
						<key>dateExpires</key>
						<string>12/12/2024</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>BEMCheckBox.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XMM2KDTT64</string>
						<key>name</key>
						<string>SMART DIGITRENDS FZC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2CBEB3C705921BBA4B381811F9FF58830533F898</string>
						<key>dateExpires</key>
						<string>12/12/2024</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Cosmos.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XMM2KDTT64</string>
						<key>name</key>
						<string>SMART DIGITRENDS FZC</string>
					</dict>
					<key>versionNumber</key>
					<string>23.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2CBEB3C705921BBA4B381811F9FF58830533F898</string>
						<key>dateExpires</key>
						<string>12/12/2024</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DatePickerDialog.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XMM2KDTT64</string>
						<key>name</key>
						<string>SMART DIGITRENDS FZC</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2CBEB3C705921BBA4B381811F9FF58830533F898</string>
						<key>dateExpires</key>
						<string>12/12/2024</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XMM2KDTT64</string>
						<key>name</key>
						<string>SMART DIGITRENDS FZC</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2CBEB3C705921BBA4B381811F9FF58830533F898</string>
						<key>dateExpires</key>
						<string>12/12/2024</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XMM2KDTT64</string>
						<key>name</key>
						<string>SMART DIGITRENDS FZC</string>
					</dict>
					<key>versionNumber</key>
					<string>3.5.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2CBEB3C705921BBA4B381811F9FF58830533F898</string>
						<key>dateExpires</key>
						<string>12/12/2024</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Player.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XMM2KDTT64</string>
						<key>name</key>
						<string>SMART DIGITRENDS FZC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.13.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2CBEB3C705921BBA4B381811F9FF58830533F898</string>
						<key>dateExpires</key>
						<string>12/12/2024</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RLBAlertsPickers.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XMM2KDTT64</string>
						<key>name</key>
						<string>SMART DIGITRENDS FZC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2CBEB3C705921BBA4B381811F9FF58830533F898</string>
						<key>dateExpires</key>
						<string>12/12/2024</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Zip.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XMM2KDTT64</string>
						<key>name</key>
						<string>SMART DIGITRENDS FZC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>XMM2KDTT64.sa.digitrends.novo.phase1</string>
				<key>com.apple.developer.team-identifier</key>
				<string>XMM2KDTT64</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>XMM2KDTT64.sa.digitrends.novo.phase1</string>
				</array>
			</dict>
			<key>name</key>
			<string>E-detailer.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ed5efdcb-da5f-43cb-8062-c67bae51e0b6</string>
				<key>dateExpires</key>
				<string>27/01/2023</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: sa.digitrends.novo.phase1</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>XMM2KDTT64</string>
				<key>name</key>
				<string>SMART DIGITRENDS FZC</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
